framework: net472
source https://api.nuget.org/v3/index.json

nuget Fody
nuget GSF.Media
nuget JetBrains.Annotations
nuget MahApps.Metro.IconPacks 3.0.0-alpha0096 prerelease
nuget MessagePack
nuget NAudio
nuget Newtonsoft.Json
nuget Orchestra.Shell.Ribbon.Fluent
nuget PropertyChanged.Fody
nuget Svg
nuget Syroot.Windows.IO.KnownFolders
nuget System.Net.Http
nuget WPFHexaEditor 1.3.6.2
nuget Catel.Fody
nuget Catel.MVVM 5.8.0
nuget Catel.Core 5.8.0
nuget MethodTimer.Fody
nuget ModuleInit.Fody
nuget LoadAssembliesOnStartup.Fody
nuget Orc.Squirrel
nuget Orc.Controls
nuget System.ValueTuple
nuget System.Threading.Tasks.Extensions
nuget SharpVectors.Reloaded
nuget NuGet.CommandLine
nuget Extended.Wpf.Toolkit
nuget Dirkster.AvalonDock.Themes.VS2013
nuget Orc.WorkspaceManagement
nuget Orc.LogViewer
nuget Catel.Serialization.Json
nuget Microsoft-WindowsAPICodePack-Core
nuget Microsoft-WindowsAPICodePack-Shell
nuget Portable.Licensing
nuget Simple-MAPI.NET
nuget Microsoft.Xaml.Behaviors.Wpf
nuget squirrel.windows
nuget Anotar.Catel.Fody
nuget Be.Windows.Forms.HexBox
nuget SharpCompress
nuget sqlite-net-pcl
nuget SQLitePCLRaw.bundle_e_sqlite3 
nuget DataGridExtensions
nuget SharpZipLib
nuget System.Data.SQLite
nuget EntityFramework 
nuget SQLite.CodeFirst
nuget K4os.Compression.LZ4
nuget EFInteractiveViews
nuget ksemenenko.ColorThief
nuget CsvHelper
nuget Standart.Hash.xxHash
nuget Orc.EntityFramework6
nuget Castle.Core
nuget Orc.Scheduling