framework: net462
source https://api.nuget.org/v3/index.json

nuget Fody 3.3.3
nuget GSF.Media 2.1.468
nuget JetBrains.Annotations 2018.2.1
nuget MahApps.Metro.IconPacks 3.0.0-alpha0096 prerelease
nuget MessagePack 1.7.3.4
nuget NAudio 1.8.5
nuget Newtonsoft.Json 12.0.1
nuget Orchestra.Shell.Ribbon.Fluent
nuget Orc.LicenseManager.Client 3.0.0
nuget PropertyChanged.Fody 2.5.14 
nuget Svg 2.3.0
nuget Syroot.Windows.IO.KnownFolders 1.2.1
nuget System.Net.Http
nuget VST.NET.x64 1.1 
nuget WPFHexaEditor 1.3.6.2
nuget Catel.Fody 3.5.0
nuget Catel.MVVM 5.8.0
nuget Catel.Core 5.8.0
nuget MethodTimer.Fody 2.1.1
nuget ModuleInit.Fody 1.8.1
nuget LoadAssembliesOnStartup.Fody 2.1.0
nuget Orc.Squirrel 3.0.0
nuget Orc.Controls 3.1.1
nuget System.ValueTuple 4.5.0
nuget System.Threading.Tasks.Extensions
nuget SharpVectors.Reloaded
nuget NuGet.CommandLine
nuget Orc.Squirrel.Xaml 3.0.0
nuget Extended.Wpf.Toolkit 3.4.0
nuget Dirkster.AvalonDock.Themes.VS2013 3.4.0.8
nuget Orc.WorkspaceManagement 3.1.0
nuget Orc.LogViewer 3.1.0
nuget Catel.Serialization.Json 5.8.0
nuget Microsoft-WindowsAPICodePack-Core 1.1.3.3
nuget Microsoft-WindowsAPICodePack-Shell 1.1.3.3
nuget Portable.Licensing 1.1.0
nuget Simple-MAPI.NET 1.1.0
nuget Microsoft.Xaml.Behaviors.Wpf
nuget squirrel.windows
nuget Anotar.Catel.Fody 4.6.7
nuget Be.Windows.Forms.HexBox
nuget SharpCompress 0.18.1