<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Bundle Name="PresetMagician" Version="!(bind.packageVersion.PresetMagician)" Manufacturer="Drachenkatze" UpgradeCode="c5dd6a39-c463-4f5b-8574-7024fad516f4">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLargeLicense">
      <bal:WixStandardBootstrapperApplication
   LicenseFile="eula.rtf"
   LogoFile="..\PresetMagician\PresetMagician.ico"
   SuppressOptionsUI="yes"
   ShowVersion="yes"
   xmlns:bal="http://schemas.microsoft.com/wix/BalExtension" />
    </BootstrapperApplicationRef>

    <Chain>
      <ExePackage Cache="no" Compressed="yes" PerMachine="yes" Permanent="yes" Vital="yes"
       SourceFile="prereqs\vc_redist.x64.exe" InstallCommand="/install /passive /norestart">
      </ExePackage>

      <PackageGroupRef Id='NetFx462Redist' />
      <MsiPackage Id='PresetMagician' Vital='yes' SourceFile='$(var.PresetMagicianSetup.TargetPath)' />
    </Chain>
  </Bundle>
</Wix>