<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="PluginPath" value="C:\Program Files\VstPlugins\Roland\SYSTEM-1\SYSTEM-1(VST2 64bit).dll"/>
  </appSettings>

  <!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>-->
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
