<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.0.0-alpha0196" targetFramework="net461" />
  <package id="Fluent.Ribbon" version="7.0.0-alpha0456" targetFramework="net461" />
  <package id="MahApps.Metro" version="2.0.0-alpha0105" targetFramework="net461" />
  <package id="MahApps.Metro.IconPacks" version="3.0.0-alpha0088" targetFramework="net461" />
  <package id="Source.JetBrains.Annotations" version="11.1.1" targetFramework="net461" developmentDependency="true" />
</packages>