<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.diagnostics>


        <!-- Declare all the trace listeners you wish to share accross trace sources here -->
        <sharedListeners>
            <!-- Choose your trace output channels -->
            <add name="Console" type="System.Diagnostics.ConsoleTraceListener"
                 initializeData="false" />
        </sharedListeners>
        <sources>
            <!-- These TraceSources are available. -->
            <source name="System.ServiceModel"
                    switchValue="Error"
                    propagateActivity="true">
                <listeners>
                    <add name="Console" />
                </listeners>
            </source>
            <source name="Host.PluginCommandStub">
                <listeners>
                    <add name="Console" />
                </listeners>
            </source>
            <source name="Host.HostCommandProxy">
                <listeners>
                    <add name="Console" />
                </listeners>
            </source>
        </sources>
        <switches>
            <!-- SourceSwitch settings for TraceSources. Value can be:
      ActivityTracing: Allows the Stop, Start, Suspend, Transfer, and Resume events through.  
      All: Allows all events through.  
      Critical: Allows only Critical events through.  
      Error: Allows Critical and Error events through.  
      Information: Allows Critical, Error, Warning, and Information events through.  
      Off: Does not allow any events through.  
      Verbose: Allows Critical, Error, Warning, Information, and Verbose events through.  
      Warning: Allows Critical, Error, and Warning events through.  -->


            <!--<add name="Host.PluginCommandStub" value="Information" />
      <add name="Host.HostCommandProxy" value="Information" />-->

            <add name="Host.PluginCommandStub" value="Off" />
            <add name="Host.HostCommandProxy" value="Off" />
        </switches>
    </system.diagnostics>
</configuration>